In [1]:
import pandas as pd

In [2]:
score = pd.read_csv('../data/삼성전자_감성점수_일별.csv', parse_dates=['날짜'])

In [3]:
stock = pd.read_csv('../data/삼성전자_일별.csv', parse_dates=['Date'])

In [4]:
score

            날짜      감성점수
0   2022-01-01  0.059300
1   2022-01-02 -0.075983
2   2022-01-03  0.105699
3   2022-01-04  0.165923
4   2022-01-05  0.248681
..         ...       ...
328 2022-11-26  0.000000
329 2022-11-27 -0.019863
330 2022-11-28  0.232972
331 2022-11-29  0.128398
332 2022-11-30  0.040427

[333 rows x 2 columns]

In [5]:
stock

          Date  Adj Close
0   2022-01-05  -0.016518
1   2022-01-06  -0.006460
2   2022-01-07   0.018205
3   2022-01-10  -0.003831
4   2022-01-11   0.011538
..         ...        ...
217 2022-11-24   0.006557
218 2022-11-25  -0.006515
219 2022-11-28  -0.014754
220 2022-11-29   0.008319
221 2022-11-30   0.026403

[222 rows x 2 columns]

In [6]:
while len(score) > len(stock):
    for i in range(len(stock)):
        if score.iloc[i, 0] != stock.iloc[i, 0]:
            score = score.drop(i, axis=0).reset_index(drop=True)
            break

In [7]:
score = score.drop(221, axis=0)

In [8]:
stock = stock.drop(0, axis=0)

In [9]:
score

            날짜      감성점수
0   2022-01-05  0.248681
1   2022-01-06  0.538555
2   2022-01-07  0.078906
3   2022-01-10  0.178225
4   2022-01-11  0.068646
..         ...       ...
216 2022-11-23  0.301517
217 2022-11-24  0.009202
218 2022-11-25 -0.017126
219 2022-11-28  0.232972
220 2022-11-29  0.128398

[221 rows x 2 columns]

In [10]:
stock

          Date  Adj Close
1   2022-01-06  -0.006460
2   2022-01-07   0.018205
3   2022-01-10  -0.003831
4   2022-01-11   0.011538
5   2022-01-12   0.000000
..         ...        ...
217 2022-11-24   0.006557
218 2022-11-25  -0.006515
219 2022-11-28  -0.014754
220 2022-11-29   0.008319
221 2022-11-30   0.026403

[221 rows x 2 columns]

In [11]:
score_tolist = score['감성점수'].to_list()

In [12]:
predict = []

In [13]:
for i in score_tolist:
    if i > 0:
        predict.append(1)
    elif i < 0:
        predict.append(-1)
    else:
        predict.append(0)

In [14]:
len(predict)

221

In [15]:
stock_tolist = stock['Adj Close'].to_list()

In [16]:
result = []

In [17]:
for i in stock_tolist:
    if i > 0:
        result.append(1)
    elif i < 0:
        result.append(-1)
    else:
        result.append(0)

In [18]:
len(result)

221

In [19]:
count = 0

In [20]:
for i in range(221):
    if predict[i] == result[i]:
        count += 1

In [21]:
count

94

In [22]:
print("Accuracy:", count / len(result) * 100)

Accuracy: 42.53393665158371

In [23]:
data = []

In [24]:
for i in range(221):
    data.append([str(stock.iloc[i, 0])[:10], predict[i], result[i]])

In [25]:
import csv

feature = ['날짜', '예측', '결과']

with open('감성분석_예측결과.csv', 'w', encoding='utf-8-sig', newline='') as f:
    
    write = csv.writer(f)
    
    write.writerow(feature)
    for i in data:
            write.writerow(i)