In [1]:
import pandas as pd
import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [2]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     /Users/kyo/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [3]:
df = pd.read_csv('./scraping/삼성전자_ENG.csv', parse_dates=['날짜'])

In [4]:
senti_analyzer = SentimentIntensityAnalyzer()
score = []

In [5]:
for i in range(len(df)):
    senti_scores = senti_analyzer.polarity_scores(df['뉴스제목'][i])
    score.append(senti_scores['compound'])

In [6]:
df['감성점수'] = score

In [7]:
df

              날짜                                               뉴스제목    감성점수
0     2022-01-01  I'm an elementary school student. I'm a shareh...  0.1779
1     2022-01-01  "Samsung Electronics Article 100 and SK Hynix ...  0.0000
2     2022-01-01  "New performance record" Should Samsung Electr...  0.0000
3     2022-01-02  "I'm the king of semiconductors"...Samsung Ele... -0.3818
4     2022-01-02  Samsung Electronics has regained its semicondu...  0.0000
...          ...                                                ...     ...
17199 2022-11-30  Samsung Electronics, the founding anniversary....  0.0000
17200 2022-11-30  Samsung Electronics is the founding anniversar...  0.3182
17201 2022-11-30  Samsung Electronics and founder of Samsung Ele...  0.0000
17202 2022-11-30  The world's top-class...Samsung Electronics' f...  0.0000
17203 2022-11-30  "I'm the first time". "I'm going to be calm an...  0.5574

[17204 rows x 3 columns]

In [8]:
pos = 0
neg = 0
neu = 0

In [9]:
for i in range(len(df)):
    if df['감성점수'][i] > 0:
        pos += 1
    elif df['감성점수'][i] < 0:
        neg += 1
    else:
        neu += 1

In [10]:
print("긍정:", pos, "부정:", neg, "중립:", neu)

긍정: 5621 부정: 1655 중립: 9928

In [11]:
df = df.groupby("날짜")["감성점수"].mean()

In [12]:
df = df.to_frame()

In [13]:
df

                감성점수
날짜
2022-01-01  0.059300
2022-01-02 -0.075983
2022-01-03  0.105699
2022-01-04  0.165923
2022-01-05  0.248681
...              ...
2022-11-26  0.000000
2022-11-27 -0.019863
2022-11-28  0.232972
2022-11-29  0.128398
2022-11-30  0.040427

[333 rows x 1 columns]

In [14]:
df.to_csv('삼성전자_감성점수_일별.csv', encoding='utf-8-sig')

In [15]:
pos = 0
neg = 0
neu = 0

In [16]:
for i in range(len(df)):
    if df['감성점수'][i] > 0:
        pos += 1
    elif df['감성점수'][i] < 0:
        neg += 1
    else:
        neu += 1

In [17]:
print("긍정:", pos, "부정:", neg, "중립:", neu)

긍정: 293 부정: 28 중립: 12